@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif
}

body {
	@apply bg-zinc-200; 
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-400;
}

/* Animacao PAGINA */
.page-enter-active,
.page-leave-active {
	transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
	filter: blur(0.5rem);
}

/* Animacao PADRAO */
.v-enter-from {
	opacity: 0;
}
.v-enter-active,
.v-leave-active {
	transition: opacity 0.2s ease;
}
.v-leave-to {
	opacity: 0;
}

/* Animacao VEM DA DIREITA */
.slide-right-enter-from {
	@apply translate-x-full;
}
.slide-right-enter-active,
.slide-right-leave-active {
	@apply transition-all duration-200;
}
.slide-right-leave-to {
	@apply translate-x-full;
}

/* Animacao NOTIFICACAO */
.notification-enter-active,
.notification-leave-active {
	@apply scale-[115%] transition-all duration-100 ease-out;
}
.notification-enter-from,
.notification-leave-to {
	@apply scale-[30%];
}
