@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif
}

body {
	@apply bg-sky-100 overflow-x-hidden; 
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #ffffff;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-400;
}

/* Animacao PAGINA */
.page-enter-active,
.page-leave-active {
	transition: all 0.15s;
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
}

/* Animacao PADRAO */
.v-enter-from {
	opacity: 0;
}
.v-enter-active,
.v-leave-active {
	transition: opacity 0.2s ease;
}
.v-leave-to {
	opacity: 0;
}

/* Animacao VEM DA DIREITA */
.slide-right-enter-from,
.slide-right-leave-to {
	@apply translate-x-full;
}
.slide-right-enter-active,
.slide-right-leave-active {
	@apply transition-all duration-200;
}

/* Animacao VEM DE BAIXO */
.slide-up-enter-from,
.slide-up-leave-to {
	@apply translate-y-full;
}
.slide-up-enter-active,
.slide-up-leave-active {
	@apply transition-all duration-200;
}
